Source: ros-kinetic-rocon-app-utilities
Section: misc
Priority: extra
Maintainer: Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-catkin-pkg, ros-kinetic-catkin, ros-kinetic-roslint
Homepage: http://wiki.ros.org/rocon_app_utilities
Standards-Version: 3.9.2

Package: ros-kinetic-rocon-app-utilities
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-kinetic-rocon-console, ros-kinetic-rocon-python-utils, ros-kinetic-rocon-uri, ros-kinetic-roslaunch
Description: The rocon_app_utilities package
